{{ define "header_css" }}{{ end }}

{{ define "main" }}
<div class="pl-5 pr-5">
  <div class="grid gap-4 mb-6" style="grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));">
    {{ range first 2 (where site.RegularPages "Type" "in" "featured") }}
    {{ .Render "summary" }}
    {{ end }}
  </div>
  <div class="grid grid-cols-3 gap-8">
    <div class="col-span-3 lg:col-span-2 mb-3">
      {{if .IsHome}}
      {{.Scratch.Set "Paginator" (.Paginate (where .Site.RegularPages "Type" "in" site.Params.mainSections) (.Site.Params.paginator_pages) )}}
      {{else}}
      {{.Scratch.Set "Paginator" .Paginator}}
      {{end}}
      {{$paginator:=(.Scratch.Get "Paginator")}}
      {{ range $index, $element := $paginator.Pages }}
      {{ if eq $index 2 }}
      {{ partial "newsletter_signup_card" . }}
      {{ end }}
      {{/* <a href="{{.RelPermalink}}"> */}}
      {{ .Render "summary" }}
      {{/* </a> */}}
      {{ end }}
      {{ partial "paginator.html" . }}
    </div>
    <div class="hidden lg:block lg:col-span-1">
      <div class="text-2xl text-gray-700 font-bold hover:text-gray-600 pb-2">Nejbližší akce</div>
      {{ $events := where .Site.RegularPages "Type" "in" "event" }} {{ $events := $events | intersect (where $events "Date" "ge" now).Reverse | first 5 }}
      {{ range $events }}
      {{ .Render "summary" }}
      {{ end }}
      <a href="#" class="float-right uppercase text-gray-600 hover:text-gray-800 border-b-4 border-gray-600 hover:border-gray-800">Všechny akce</a>
    </div>
  </div>
</div>
{{ end }}
