{{ $imageResource := ($.Sites.First.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" "dither_it_zewlakk.png" ) }}
<div class="header min-h-64 bg-cover" style="background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%), url({{ $imageResource.RelPermalink}}); background-size: cover; background-position: center center;">
    {{- partial "topbar.html" . -}}
    <div class="container md:h-52 mx-auto pl-5 pr-5 max-w-screen-xl flex flex-col md:flex-row justify-between">
        <div class="logo-wrapper h-full flex flex-col justify-center">
            <img class="mt-4 mb-4 h-28" style=""
                                        alt="Logo Limity jsme My" src="{{ .Site.BaseURL }}/images/logo.svg"></div>
        <div class="mt-4 mb-4 text-center md:text-left flex flex-col flex-wrap md:items-end items-center">
            <p class="ml-2 mr-2 max-w-sm text-white font-bold">Jsme hnutí usilující o ukončení těžby a spalování fosilních paliv. Naším cílem je klimatická spravedlnost.</p>
            <div class="mx-auto md:mx-0 flex flex-wrap justify-around mt-8 font-bold content-between">
                <a class="text-xl text-gray-200 hover:text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none bg-ljm-green hover:ring-4 hover:ring-ljm-orange hover:ring-opacity-20"
                   href="#">Přidej se k nám</a>
                <a class="text-xl bg-gray-500 text-gray-200 rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:text-white hover:ring-4 hover:ring-ljm-orange hover:ring-opacity-20"
                   href="#">Chci vědět víc</a>
            </div>
        </div>
    </div>
</div>
