<div id="menu-wrapper" class="container mx-auto max-w-screen-xl pl-5 pr-5">
    <nav id="menu">
        <ul id="menu-closed">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <li class="pr-5 last:pr-0">
                <a class="pb-1 hover:border-gray-700 border-b-2{{ if eq $currentPage.URL .URL }} border-gray-900 border-b-4 hover:border-gray-900 hover:border-b-4{{ end }}"
                   href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
            <li><a href="#menu-closed">&#215; Close menu</a></li>
            <li><a href="#menu">&#9776; Menu</a></li>
        </ul>
    </nav>
</div>
