{{ $imageResource := (site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" "tile.png" ) }}
<div class="mb-6">
  <div class="flex flex-row flex-wrap items-center">
    <div class="subscription-description mr-4">
      <h2 class="text-xl text-left inline-block font-semibold text-gray-800">Odebírej náš newsletter!</h2>
      <p class="text-gray-700 text-xs pl-px">
        Všechno důležité Ti pošleme přímo na Tvůj mail
      </p></div>
    <form action="#" class="mt-2" style="flex-grow: 2; align-self: flex-end;">
      <div class="flex">
        <div class="p-0.5 mr-2 rounded-md" style="background-image: url({{ $imageResource.RelPermalink}}); flex-grow: 2;">
          <input type="email"
                                   class="w-full px-1.5 py-1 bg-gray-100 shadow-inner border border-gray-400 focus:outline-none"
                                   required></div>
        <button class="bg-gray-600 text-gray-100 hover:bg-gray-800 hover:text-white font-semibold px-5 py-1 rounded shadow">Přihlásit se
        </button>
      </div>
    </form>
  </div>
</div>
