<!-- component -->
<div class="max-w-4xl px-10 my-4 py-6 bg-white rounded-md border-gray-100 shadow-sm">
    <div class="flex justify-between items-center">
        <span class="font-light text-gray-600">{{.context.Date.Format "2.1. 2006"}}</span>
        <a class="px-2 py-1 bg-gray-600 text-gray-100 font-bold rounded hover:bg-gray-500" href="#">Akce</a>
    </div>
    <div class="mt-2">
        <a class="text-2xl text-gray-700 font-bold hover:text-gray-600" href="#">{{ .context.Title }}</a>
        <p class="mt-2 text-gray-600">{{ substr .context.Summary 0 240 | plainify }}...</p>
    </div>
    <div class="flex justify-end items-right mt-4">
        <a class="text-blue-600 hover:underline" href="#">Přečíst si víc ></a>
    </div>
</div>
